.input-wrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  input {
    flex-grow: 1;
  }
  .status {
    position: absolute;
    right: 8px;
    font-size: 12px;
    cursor: help;
  }
}
